#!/bin/bash

alias docs="cd ~/Documents"
alias dox="cd ~/Documents/xoi"
alias xoi="cd ~/workspace"

alias chr="/Applications/Google\ Chrome\ Canary.app/Contents/MacOS/Google\ Chrome\ Canary"
alias go-cover="go test -coverprofile=coverage.out && go tool cover -html=coverage.out && rm coverage.out"
alias v="mvim ."
alias edd='emacs --daemon'  # start emacs server in background
alias e='emacsclient -t'  # open emacs in terminal
alias ecc='emacsclient -c' # open GUI-emacs
alias ew='emacs -nw -q'   # opens vanilla emacs in the terminal
# alias scheme=/Applications/MIT-Scheme.app/Contents/Resources/mit-scheme
alias t=tmux
alias gbc="git branch --show-current"
alias gbclean="git branch --merged | grep -v \* | xargs git branch -d"
alias jt="gbc | cut -d '/' -f2 | cut -d '-' -f1,2"

alias cx="open https://calendar.google.com/calendar/b/3/r"
alias ca="open https://calendar.google.com/calendar/b/0/r"
alias hours="~/code/calendar/cli"

alias docker-start="sudo systemctl start docker"
alias docker-test="sudo docker run hello-world"

alias ra="~/xoi/VisionNxMobile/node_modules/.bin/react-native run-android --variant localDebug --appIdSuffix local"

alias work="cd ~/workspace"
