#!/bin/bash

docker-compose-restart() { docker-compose stop "$1"; docker-compose start "$1"; }

ee() { /Applications/Emacs.app/Contents/MacOS/Emacs "$@" }

todo() {
  item="$1"

  if [ -z $item ]; then
    read item
  fi

  echo "$item" >> ~/Desktop/todos/todos
}

todos() {
  vi ~/Desktop/todos/todos
}

norelease() {
  cat <<'EOM' | pbcopy
```
<!--@releases--><!--@norelease--><!--/@releases-->
```
EOM
}
