[core]
	editor = /usr/bin/vim
	excludesfile = /Users/calebgregory/.gitignore_global
[user]
	email = calebgregory@gmail.com
	name = Caleb Gregory
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
